---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

<div class="custom-blog-container">
  <article class="custom-article-card">
    <div class="custom-article-content">
      <h1 class="custom-banner-title">{{ page.title }}</h1>
      <div class="custom-article-meta">
        <span>By Rida Batool {{ page.date | date: "%b %Y" }}</span>
      </div>
      <div class="custom-article-text">
        {{ content }}
      </div>
    </div>
  </article>
</div>
